<section class="resume-section p-3 p-lg-5 d-flex flex-column" id="conferences">
  <div class="my-auto" id="conferences-content">
    <h2 class="mb-5">Conferences Attended</h2>
    {{ range .Site.Data.conferences }}
        <div class="resume-item d-flex flex-column flex-md-row mb-5">
          <div class="resume-content mr-auto">
            <h4 class="mb-0">{{ .name }}</h4>
            <br />
            <p>{{ .location }}. <a  href="{{.homepage}}"> (Homepage) </a></p>
          </div>
          <div class="resume-date text-md-right">
            <span class="text-primary">{{ .date }}</span>
          </div>
        </div>
    {{ end }}
  </div>

</section>
