
<div class="resume-item d-flex flex-column flex-md-row mb-5">
  <div class="publication-content mr-auto">
    <h3 class="mb-0">{{ .Params.pubtype }} - <a href="{{ .Permalink }}">{{ .Params.title }}</a></h3>
    <h5 class="mb-0">{{ .Params.authors }}</h5>
    <br />
    <div>{{ .Params.description }} | <a href="{{ .Params.pdf }}">PDF</a> | <a href="{{ .Params.bib }}">BIB</a></div>
    <p>{{ partial "techtags" . }}</p>
  </div>
  <div class="resume-date text-md-right">
    <span class="text-primary">{{ .Params.date | dateFormat "January 2006" }}</span>
    <img src="{{ .Params.image }}" style="max-width:250px;padding:5px;"/>
  </div>
</div>
