<section class="resume-section p-3 p-lg-5 d-flex flex-column" id="slides">
  <div class="my-auto" id="slides-content">
    <h2 class="mb-5">Slides & Talks</h2>
    {{ range .Site.Data.slides }}
        <div class="resume-item d-flex flex-column flex-md-row mb-5">
          <div class="resume-content mr-auto">
            <h3 class="mb-0">{{ .type }} - <a href="{{ .link }}">{{ .title }}</a></h3>
            <br />
            <p> <em>{{ .venue }}</em> </p>
            <p>{{ .summary }}</p>
            <p>
                <ul class="tags">
                    {{ range .tags }}
                        <li><a class="tag" href="{{ "/tags/" | relURL }}{{ . | urlize }}">{{ . }}</a></li>
                    {{ end }}
                </ul>
            </p>
          </div>
          <div class="resume-date text-md-right">
            <span class="text-primary">{{ .time }}</span>
          </div>
        </div>
    {{ end }}
  </div>

</section>
