{{ define "main" }}
{{ partial "breadcrumbs" . }}
<section class="resume-section p-3 p-lg-5 d-flex d-column content">
  <div class="my-auto">
    <h2 class="mb-0"><span class="text-primary">{{ .Title }}</span></h2>
    <h4 class="mb-0">{{ .Params.authors }}</h4>
    <br />
    <p> {{ .Params.description }} | <a href="{{ .Params.pdf }}">PDF</a> | <a href="{{ .Params.bib }}">BIB</a></p>
    {{ with .Params.image }}<img src="{{ . }}" style="max-height:300px;max-width:30%;" align="right"/>{{ end }}
    <br />
    {{ .Content }}
    <p class="mt-3">
    {{ partial "techtags" . }}
    </p>
  </div>
</section>
{{ end }}
